In [1]:
import findspark
findspark.init('/Users/Afrochemist/Desktop/BDstuff/spark-2.2.0-bin-hadoop2.7')

In [2]:
#Libraries used for spark
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
#uploading sample file
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
#looking at the schema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
#looking at the column names
df.columns

['age', 'name']

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)

In [12]:
#Changing the data type of column 'age' into an integer. If False a null value would be considered an error
#Changing the data type of column 'name' to a string
data_schema = [StructField('age',IntegerType(),True),
               StructField('name', StringType(),True)]

In [13]:
final_struc = StructType(fields=data_schema)

In [14]:
df = spark.read.json('people.json',schema=final_struc)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
#Figuring out the data type of a column
type(df['age'])

pyspark.sql.column.Column

In [17]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [18]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [19]:
#Indexing
df.head(2)[0]

Row(age=None, name='Michael')

In [20]:
#Select multiple columns
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
#create a new column
df.withColumn('doubleage', df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [22]:
#rename a column
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [23]:
#Now using sparksql
#create a view
df.createOrReplaceTempView('people')

In [24]:
results = spark.sql('SELECT * FROM people')
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
news_results = spark.sql("SELECT *FROM people WHERE age = 30")
news_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+